*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  text-align: center;
  color: #fff;

}
.app{ 
  background: url("../src/assets/bg.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.qr-container{
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-container h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.qr-container input{
  appearance: none;
  outline: none;
  border:#1b2034;
  box-shadow: #1b2034;
  background: #eee;
  width: 100%;
  height: 2.5rem;
  max-width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.btn{
  font-weight:500;
  font-family: inherit;
  font-size: 1.2rem;
}


/*Download btn*/
.img-container a{
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor:pointer;
  font-weight:500 !important;
  font-family: inherit;
  font-size: 1.2rem !important;
  line-height: 1;
  text-decoration: none;
  margin-top: 1rem;
}

.img-container a {
  --color: #0077ff;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 0.8rem;
  position: relative;
  background-color: #15222f;
}

.img-container a::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.img-container a:hover {
  color: white;
}

.img-container a:before {
  top: 100%;
  left: 100%;
  transition: .4s all;
}

.img-container a:hover::before {
  top: -50px;
  left: -30px;
}


button {
  --color: #0077ff;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 0.8rem;
  position: relative;
  background-color: #15222f;
}

button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

button:hover {
  color: white;
}

button:before {
  top: 100%;
  left: 100%;
  transition: .4s all;
}

button:hover::before {
  top: -50px;
  left: -30px;
}

/*Glassmorphism effect*/
.glass{  
  padding: 2rem;
  background: rgba(255, 255, 255, 0.162);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}


.qr-container img {
  display: block;
  width: 80%;
  max-width: 380px;
  margin-bottom: 1rem;
}

.img-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
